<configuration>

    <system.webServer>

        <handlers>
            <add name="iisnode" path="*" verb="*" modules="iisnode" />
        </handlers>

        <iisnode loggingEnabled="false" />

        <rewrite>
            <rules>
                <rule name="aurea">
                    <match url="/*" />
                    <action type="Rewrite" url="server.js" />
                </rule>
            </rules>
        </rewrite>

        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
            </customHeaders>
        </httpProtocol>

    </system.webServer>
</configuration>
